$fontPrimary: "Titillium";
$fontLogo   : "logo";
$fontNumber : "digital";


$colorFirst : #fafafa;
$colorSecond: #F5E156;

$green      : #5cb85c;
$orange     : #f0ad4e; 
$red        : #d43f3a;
$black      : #333333;
$off-white  : #fafafa;

$colorBlackLight: rgba(50,50,50, 0.65);
$colorWhiteLight: rgba(200,200,200, 0.65);