.chosen-container {
    .chosen-single {
        height: 32px;
        
        span {
            margin-top: 3px;
        }
        
        div {
            b {
                background-position: 0px 5px;
            }
        }
    }
}