@font-face {
  font-family: "Titillium";
  src: url("../fonts/Titillium/Titillium-Thin.eot");
  src: url("../fonts/Titillium/Titillium-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Titillium/Titillium-Thin.woff") format("woff"), url("../fonts/Titillium/Titillium-Thin.ttf") format("truetype"), url("../fonts/Titillium/Titillium-Thin.svg#UbuntuItalic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "logo";
  src: url("../fonts/Kaushan/KaushanScript-Regular.eot");
  src: url("../fonts/Kaushan/KaushanScript-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Kaushan/KaushanScript-Regular.woff") format("woff"), url("../fonts/Kaushan/KaushanScript-Regular.ttf") format("truetype"), url("../fonts/Kaushan/KaushanScript-Regular.svg#UbuntuItalic") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 5, ../scss/main.scss */
body {
  background: #fafafa;
  font-family: "Titillium";
  color: #fafafa;
}

/* line 11, ../scss/main.scss */
h1, h2, h3, h4, h5, h6, a, span, label {
  font-family: "Titillium";
}

/* line 15, ../scss/main.scss */
.hero-unit {
  margin: 50px auto 0 auto;
  width: 600px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
}
/* line 24, ../scss/main.scss */
.hero-unit h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

/* line 1, ../scss/components/_signup.scss */
.signup-box {
  background: rgba(50, 50, 50, 0.65);
  padding: 20px 25px 10px;
  border-radius: 5px;
  color: #fff;
  margin-bottom: 50px;
  text-shadow: none;
}
@media (min-width: 992px) {
  /* line 1, ../scss/components/_signup.scss */
  .signup-box {
    height: 100vh;
    border-radius: 0px;
    padding-top: 100px;
    margin-bottom: 0px;
  }
}
/* line 20, ../scss/components/_signup.scss */
.signup-box h3 {
  font-size: 22px;
  margin: 10px 0px 30px;
  text-shadow: none;
}
/* line 26, ../scss/components/_signup.scss */
.signup-box a {
  color: #F3E95D;
  cursor: pointer;
}
/* line 30, ../scss/components/_signup.scss */
.signup-box a.active {
  cursor: default;
}
/* line 32, ../scss/components/_signup.scss */
.signup-box a.active, .signup-box a.active:hover, .signup-box a.active:active {
  color: #fff;
}
/* line 37, ../scss/components/_signup.scss */
.signup-box a:hover, .signup-box a:active {
  color: #ECE4AA;
  text-decoration: none;
}

/* line 1, ../scss/components/_videoBackground.scss */
.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

/* line 11, ../scss/components/_videoBackground.scss */
.darkening {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(90, 90, 90, 0.75);
}

/* line 20, ../scss/components/_videoBackground.scss */
.videoBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-aspect-ratio: 16 / 9) {
  /* line 29, ../scss/components/_videoBackground.scss */
  .videoBg {
    height: 300%;
    top: -100%;
  }
}
@media (max-aspect-ratio: 16 / 9) {
  /* line 36, ../scss/components/_videoBackground.scss */
  .videoBg {
    width: 300%;
    left: -100%;
  }
}
@media (max-width: 767px) {
  /* line 43, ../scss/components/_videoBackground.scss */
  .fullscreen-bg {
    background: url("/images/fastfood.jpg") center center/cover no-repeat;
  }

  /* line 47, ../scss/components/_videoBackground.scss */
  .videoBg {
    display: none;
  }
}
/* line 1, ../scss/pages/_home.scss */
#homepage {
  text-shadow: 0px 1px 10px #333;
}
/* line 3, ../scss/pages/_home.scss */
#homepage .title {
  color: #F5E156;
  font-style: normal;
  font-family: "logo";
  margin-top: 30px;
  font-size: 100px;
  font-size: 6.25rem;
}
@media (max-width: 400px) {
  /* line 3, ../scss/pages/_home.scss */
  #homepage .title {
    text-align: center;
  }
}
@media (min-width: 992px) {
  /* line 3, ../scss/pages/_home.scss */
  #homepage .title {
    margin-top: 80px;
  }
}
/* line 19, ../scss/pages/_home.scss */
#homepage .about {
  padding: 20px 0px;
  line-height: 35px;
  font-family: "logo";
  font-size: 35px;
  font-size: 2.1875rem;
}
/* line 26, ../scss/pages/_home.scss */
#homepage .steps {
  padding: 1px 20px 20px;
  background: rgba(200, 200, 200, 0.65);
  margin: 0px 0px 20px;
  border-radius: 5px;
  text-shadow: none;
}
/* line 34, ../scss/pages/_home.scss */
#homepage .steps h3 {
  color: #F5E156;
  text-shadow: 0px 0px 5px #333;
  font-weight: bold;
  font-size: 55px;
  font-size: 3.4375rem;
}
/* line 41, ../scss/pages/_home.scss */
#homepage .steps li {
  font-weight: bold;
  margin-left: 30px;
  padding: 5px 0px;
  color: #000;
  font-size: 35px;
  font-size: 2.1875rem;
}
