<div class="container">
	<div class="row">
		<div class="col-sm-8 main-container">
            <div class="row alert alert-info">
                <strong>Here we go:</strong>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam eaque, ducimus doloremque nam cum cumque rem quo molestias illum libero, atque iure inventore distinctio ipsa autem dicta voluptas modi! Nam?
            </div>
            <div class="list-details black-transperant-block">
                <button class="btn btn-success pull-right create-order-button">
                    <i class="glyphicon glyphicon-plus"></i> add order
                </button>
                <h4><i class="glyphicon glyphicon-bullhorn"></i>&nbsp; {{ vm.orderData.list.name }}</h4>
            </div>
			<div class="white-transperant-block">
                123456
            </div>
		</div>
		<div class="col-sm-4 right-sidebar">
			<div class="restaurant-block black-transperant-block no-margin-left">
                <div class="row">
                    <div class="col-xs-4 no-padding-right">
                        <img class="img-thumbnail img-responsive logo" ng-src="{{vm.orderData.restaurant.picturePath}}" alt="vm.orderData.restaurant.name">
                    </div>
                    <div class="col-xs-8">
                        <rating value="vm.orderData.restaurant.rating" class="rating-container" color="#ffdf00" max="5"></rating>
                        <h3 class="restaurant-name">{{vm.orderData.restaurant.name}}</h3>
                    </div>
                </div>                
                
                <div class="menus-list">
                    <h4>Menus:</h4>
                    <p>menus on sites for references on order.</p>
                    <a class="btn btn-block btn-danger" ng-repeat="menu in vm.orderData.restaurant.menus" target="_blank" href="{{menu.link}}">
                         {{ menu.sitename }} &nbsp;&nbsp;<i class="glyphicon glyphicon-arrow-right"></i>
                    </a>
                </div>
                <div class="phones-list">
                    <h4>Phone numbers:</h4>
                    <p class="numbers" ng-repeat="phone in vm.orderData.restaurant.phoneNumbers track by $index">
                        <i class="glyphicon glyphicon-earphone"></i>
                        <span>{{ phone }}</span>
                    </p>
                </div>
            </div>
		</div>
	</div>
</div>