/* line 1, ../scss/base/_base.scss */
body {
  padding: 0;
  margin: 0;
  background: #fafafa;
  font-family: "Titillium";
  color: #fafafa;
}

/* line 9, ../scss/base/_base.scss */
h1, h2, h3, h4, h5, h6, a, span, label {
  font-family: "Titillium";
}

/* line 13, ../scss/base/_base.scss */
.btn {
  text-transform: uppercase;
}

/* line 17, ../scss/base/_base.scss */
#count-down {
  cursor: pointer;
}
/* line 20, ../scss/base/_base.scss */
#count-down:hover, #count-down:active, #count-down:focus {
  text-decoration: none;
}

/* line 26, ../scss/base/_base.scss */
.numbers {
  font-family: "digital";
}

/* line 31, ../scss/base/_base.scss */
.white-transperant-block {
  background: rgba(200, 200, 200, 0.5);
  margin: 0px -15px 10px;
  padding: 20px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
/* line 38, ../scss/base/_base.scss */
.white-transperant-block h3, .white-transperant-block p {
  text-shadow: 1px 1px 2px #333;
}

/* line 42, ../scss/base/_base.scss */
.black-transperant-block {
  background: rgba(0, 0, 0, 0.5);
  margin: 0px -15px 10px;
  padding: 20px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

/* line 51, ../scss/base/_base.scss */
.no-margin-right {
  margin-right: 0px;
}

/* line 55, ../scss/base/_base.scss */
.no-margin-left {
  margin-left: 0px;
}

/* line 59, ../scss/base/_base.scss */
.no-padding-right {
  padding-right: 0px;
}

/* line 63, ../scss/base/_base.scss */
.no-padding-left {
  padding-left: 0px;
}

/* line 67, ../scss/base/_base.scss */
.padding-top {
  padding-top: 7px;
}

/* line 71, ../scss/base/_base.scss */
.nowrap {
  white-space: nowrap;
}

/* line 76, ../scss/base/_base.scss */
.center {
  text-align: center;
}

/* line 80, ../scss/base/_base.scss */
.top {
  vertical-align: top;
}

/* line 87, ../scss/base/_base.scss */
.green {
  color: #5cb85c;
}

/* line 91, ../scss/base/_base.scss */
.orange {
  color: #f0ad4e;
}

/* line 95, ../scss/base/_base.scss */
.red {
  color: #d43f3a;
}

/* line 99, ../scss/base/_base.scss */
.yellow {
  color: #F5E156;
}

/* line 103, ../scss/base/_base.scss */
.bg-black {
  background: #222a32;
}

/* line 6, ../scss/mailTemplate.scss */
body {
  background: #fff;
}
/* line 8, ../scss/mailTemplate.scss */
body table {
  width: 100%;
  color: #222a32;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 13px;
}
/* line 14, ../scss/mailTemplate.scss */
body table.body {
  /*width: 600px;*/
  margin: 0 auto;
}
/* line 20, ../scss/mailTemplate.scss */
body table.items-list tr {
  background: #eee;
}
/* line 23, ../scss/mailTemplate.scss */
body table.items-list tr:first-child {
  background: #aaa;
}
/* line 27, ../scss/mailTemplate.scss */
body table.items-list tr.extras, body table.items-list tr.tips {
  background: #ddedf7;
}
/* line 31, ../scss/mailTemplate.scss */
body table.items-list tr.summary {
  background: #f9f1be;
  font-weight: bold;
  white-space: nowrap;
}
/* line 37, ../scss/mailTemplate.scss */
body table.items-list tr th, body table.items-list tr td {
  padding: 3px 20px;
  text-align: left;
}
/* line 41, ../scss/mailTemplate.scss */
body table.items-list tr th:first-child, body table.items-list tr td:first-child {
  width: 8%;
}
/* line 45, ../scss/mailTemplate.scss */
body table.items-list tr th:nth-child(2), body table.items-list tr td:nth-child(2) {
  width: 80%;
}
/* line 49, ../scss/mailTemplate.scss */
body table.items-list tr th:last-child, body table.items-list tr td:last-child {
  width: 12%;
  min-width: 100px;
}
/* line 57, ../scss/mailTemplate.scss */
body table h4 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 5px;
  font-size: 12px;
}
/* line 64, ../scss/mailTemplate.scss */
body table tr.header {
  text-align: left;
}
/* line 68, ../scss/mailTemplate.scss */
body table tr.header h1 {
  margin: 20px 0px;
}
/* line 72, ../scss/mailTemplate.scss */
body table tr.header td {
  padding: 0px 20px;
}
/* line 77, ../scss/mailTemplate.scss */
body table tr.footer {
  color: #fafafa;
  text-align: left;
}
/* line 82, ../scss/mailTemplate.scss */
body table tr td {
  padding: 10px 20px;
}
/* line 85, ../scss/mailTemplate.scss */
body table tr td.main-content {
  text-align: left;
  line-height: 30px;
}
/* line 89, ../scss/mailTemplate.scss */
body table tr td.main-content p, body table tr td.main-content a {
  display: block;
  margin: 15px 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* line 94, ../scss/mailTemplate.scss */
body table tr td.main-content p.inline, body table tr td.main-content a.inline {
  display: inline-block;
  margin: 0px;
}
