@font-face {
  font-family: "Titillium";
  src: url("../fonts/Titillium/Titillium-Thin.eot");
  src: url("../fonts/Titillium/Titillium-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Titillium/Titillium-Thin.woff") format("woff"), url("../fonts/Titillium/Titillium-Thin.ttf") format("truetype"), url("../fonts/Titillium/Titillium-Thin.svg#UbuntuItalic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "logo";
  src: url("../fonts/Kaushan/KaushanScript-Regular.eot");
  src: url("../fonts/Kaushan/KaushanScript-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Kaushan/KaushanScript-Regular.woff") format("woff"), url("../fonts/Kaushan/KaushanScript-Regular.ttf") format("truetype"), url("../fonts/Kaushan/KaushanScript-Regular.svg#UbuntuItalic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "digital";
  src: url("../fonts/Digital/digital-7.eot");
  src: url("../fonts/Digital/digital-7.eot?#iefix") format("embedded-opentype"), url("../fonts/Digital/digital-7.woff") format("woff"), url("../fonts/Digital/digital-7.ttf") format("truetype"), url("../fonts/Digital/digital-7.svg#UbuntuItalic") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 1, ../scss/base/_colors.scss */
.green {
  color: #5cb85c;
}

/* line 5, ../scss/base/_colors.scss */
.orange {
  color: #f0ad4e;
}

/* line 9, ../scss/base/_colors.scss */
.red {
  color: #d43f3a;
}

/* line 13, ../scss/base/_colors.scss */
.yellow {
  color: #F5E156;
}

/* line 17, ../scss/base/_colors.scss */
.bg-black {
  background: #333333;
}

/* line 1, ../scss/base/_base.scss */
.nowrap {
  white-space: nowrap;
}

/* line 5, ../scss/base/_base.scss */
.center {
  text-align: center;
}

/* line 9, ../scss/base/_base.scss */
.top {
  vertical-align: top;
}

/* line 1, ../scss/_general.scss */
body {
  padding: 0;
  margin: 0;
  background: #fafafa;
  font-family: "Titillium";
  color: #fafafa;
}

/* line 9, ../scss/_general.scss */
h1, h2, h3, h4, h5, h6, a, span, label {
  font-family: "Titillium";
}

/* line 13, ../scss/_general.scss */
.btn {
  text-transform: uppercase;
}

/* line 17, ../scss/_general.scss */
.hero-unit {
  margin: 50px auto 0 auto;
  width: 600px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
}
/* line 26, ../scss/_general.scss */
.hero-unit h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

/* line 33, ../scss/_general.scss */
.navbar-collapse.navbar-right {
  padding-right: 0px;
}
@media (max-width: 768px) {
  /* line 33, ../scss/_general.scss */
  .navbar-collapse.navbar-right {
    padding-right: 15px;
  }
}

/* line 42, ../scss/_general.scss */
#count-down {
  cursor: pointer;
}
/* line 45, ../scss/_general.scss */
#count-down:hover, #count-down:active, #count-down:focus {
  text-decoration: none;
}

/* line 50, ../scss/_general.scss */
.numbers {
  font-family: "digital";
}

/* line 54, ../scss/_general.scss */
.white-transperant-block {
  background: rgba(200, 200, 200, 0.5);
  margin: 0px -15px 10px;
  padding: 20px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
/* line 61, ../scss/_general.scss */
.white-transperant-block h3, .white-transperant-block p {
  text-shadow: 1px 1px 2px #333;
}

/* line 66, ../scss/_general.scss */
.black-transperant-block {
  background: rgba(0, 0, 0, 0.5);
  margin: 0px -15px 10px;
  padding: 20px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

/* line 74, ../scss/_general.scss */
.no-margin-right {
  margin-right: 0px;
}

/* line 78, ../scss/_general.scss */
.no-margin-left {
  margin-left: 0px;
}

/* line 82, ../scss/_general.scss */
.no-padding-right {
  padding-right: 0px;
}

/* line 86, ../scss/_general.scss */
.no-padding-left {
  padding-left: 0px;
}

/* line 90, ../scss/_general.scss */
.padding-top {
  padding-top: 7px;
}

/* line 1, ../scss/components/_signup.scss */
.signup-box {
  background: rgba(50, 50, 50, 0.65);
  padding: 20px 25px 10px;
  border-radius: 5px;
  color: #fff;
  margin-bottom: 50px;
  text-shadow: none;
}
@media (min-width: 992px) {
  /* line 1, ../scss/components/_signup.scss */
  .signup-box {
    height: 100vh;
    border-radius: 0px;
    padding-top: 100px;
    margin-bottom: 0px;
  }
}
/* line 20, ../scss/components/_signup.scss */
.signup-box h3 {
  font-size: 22px;
  margin: 10px 0px 30px;
  text-shadow: none;
}
/* line 26, ../scss/components/_signup.scss */
.signup-box a {
  color: #F3E95D;
  cursor: pointer;
}
/* line 30, ../scss/components/_signup.scss */
.signup-box a.active {
  cursor: default;
}
/* line 32, ../scss/components/_signup.scss */
.signup-box a.active, .signup-box a.active:hover, .signup-box a.active:active {
  color: #fff;
}
/* line 37, ../scss/components/_signup.scss */
.signup-box a:hover, .signup-box a:active {
  color: #ECE4AA;
  text-decoration: none;
}

/* line 2, ../scss/components/_navbar.scss */
.navbar.navbar-transparent {
  z-index: 100;
  background: rgba(0, 0, 0, 0.75);
  height: 60px;
}
/* line 7, ../scss/components/_navbar.scss */
.navbar.navbar-transparent .navbar-header {
  height: 60px;
}
/* line 10, ../scss/components/_navbar.scss */
.navbar.navbar-transparent .navbar-header .navbar-toggle {
  border: 1px solid #777;
  margin-top: 12px;
}
/* line 14, ../scss/components/_navbar.scss */
.navbar.navbar-transparent .navbar-header .navbar-toggle .icon-bar {
  background: #777;
}
/* line 19, ../scss/components/_navbar.scss */
.navbar.navbar-transparent .navbar-header .navbar-brand {
  font-family: "logo";
  color: #F5E156;
  font-size: 30px;
}
/* line 26, ../scss/components/_navbar.scss */
.navbar.navbar-transparent .order-count-down {
  font-size: 30px;
  font-family: "digital";
  margin: 9px 15px;
  color: #F5E156;
}
@media (max-width: 768px) {
  /* line 33, ../scss/components/_navbar.scss */
  .navbar.navbar-transparent .navbar-collapse {
    background: #333;
  }
}
/* line 37, ../scss/components/_navbar.scss */
.navbar.navbar-transparent .navbar-collapse .navbar-btn {
  margin-top: 12px;
  margin-bottom: 12px;
  margin-right: 20px;
}
@media (max-width: 768px) {
  /* line 37, ../scss/components/_navbar.scss */
  .navbar.navbar-transparent .navbar-collapse .navbar-btn {
    display: block;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
  }
}
/* line 51, ../scss/components/_navbar.scss */
.navbar.navbar-transparent .navbar-collapse .navbar-nav li a {
  background-color: transparent;
  padding: 19px 15px;
  color: #fff;
}
/* line 56, ../scss/components/_navbar.scss */
.navbar.navbar-transparent .navbar-collapse .navbar-nav li a:hover, .navbar.navbar-transparent .navbar-collapse .navbar-nav li a:focus {
  background-color: #0a0a0a;
  color: #eee;
}
/* line 62, ../scss/components/_navbar.scss */
.navbar.navbar-transparent .navbar-collapse .navbar-nav li.dropdown {
  font-size: 16px;
}
/* line 68, ../scss/components/_navbar.scss */
.navbar.navbar-transparent .navbar-collapse .navbar-nav li.dropdown ul.dropdown-menu {
  background-color: #0a0a0a;
  border: none;
}
/* line 72, ../scss/components/_navbar.scss */
.navbar.navbar-transparent .navbar-collapse .navbar-nav li.dropdown ul.dropdown-menu li a {
  text-align: left;
  padding: 5px 15px;
  background-color: #0a0a0a;
}
/* line 77, ../scss/components/_navbar.scss */
.navbar.navbar-transparent .navbar-collapse .navbar-nav li.dropdown ul.dropdown-menu li a:hover {
  background-color: #000;
}
/* line 82, ../scss/components/_navbar.scss */
.navbar.navbar-transparent .navbar-collapse .navbar-nav li.dropdown ul.dropdown-menu li.divider {
  margin: 3px 0px;
  background-color: #333;
}
/* line 90, ../scss/components/_navbar.scss */
.navbar.navbar-transparent .navbar-collapse .navbar-nav li.dropdown.user-dropdown {
  min-width: 160px;
}
/* line 94, ../scss/components/_navbar.scss */
.navbar.navbar-transparent .navbar-collapse .navbar-nav li.dropdown.user-dropdown .caret.pull-right {
  margin-top: 7px;
}

/* line 1, ../scss/components/_videoBackground.scss */
.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

/* line 11, ../scss/components/_videoBackground.scss */
.darkening {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(90, 90, 90, 0.75);
}

/* line 20, ../scss/components/_videoBackground.scss */
.videoBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-aspect-ratio: 16 / 9) {
  /* line 29, ../scss/components/_videoBackground.scss */
  .videoBg {
    height: 300%;
    top: -100%;
  }
}
@media (max-aspect-ratio: 16 / 9) {
  /* line 36, ../scss/components/_videoBackground.scss */
  .videoBg {
    width: 300%;
    left: -100%;
  }
}
@media (max-width: 767px) {
  /* line 43, ../scss/components/_videoBackground.scss */
  .fullscreen-bg {
    background: url("/assets/images/fastfood.jpg") center center/cover no-repeat;
  }

  /* line 47, ../scss/components/_videoBackground.scss */
  .videoBg {
    display: none;
  }
}
/* line 8, ../scss/components/_formValidation.scss */
form .form-group.has-error .help-block {
  background: #a94442;
  margin-top: -4px;
  color: #fff;
  padding: 1px 5px;
  border-radius: 0px 0px 4px 4px;
}
/* line 22, ../scss/components/_formValidation.scss */
form .form-group.has-success .help-block {
  background: #3c763d;
  margin-top: -4px;
  color: #fff;
  padding: 1px 5px;
  border-radius: 0px 0px 4px 4px;
}

/* line 2, ../scss/components/_chosen.scss */
.chosen-container .chosen-single {
  height: 32px;
}
/* line 5, ../scss/components/_chosen.scss */
.chosen-container .chosen-single span {
  margin-top: 3px;
}
/* line 10, ../scss/components/_chosen.scss */
.chosen-container .chosen-single div b {
  background-position: 0px 5px;
}

/* line 1, ../scss/components/_fadeAngular.scss */
.fade.ng-hide {
  opacity: 0;
}

/* line 5, ../scss/components/_fadeAngular.scss */
.fade.ng-hide-remove,
.fade.ng-hide-add {
  display: block !important;
}

/* line 10, ../scss/components/_fadeAngular.scss */
.fade.ng-hide-remove {
  transition: all linear 1000ms;
}

/* line 14, ../scss/components/_fadeAngular.scss */
.fade.ng-hide-add {
  transition: all linear 500ms;
}

/* line 2, ../scss/components/_modal.scss */
.modal .modal-content {
  border-radius: 0px;
  color: #333;
}
/* line 6, ../scss/components/_modal.scss */
.modal .modal-content .modal-header, .modal .modal-content .modal-footer {
  background: #eee;
}
/* line 10, ../scss/components/_modal.scss */
.modal .modal-content .modal-header {
  padding: 15px 20px;
}
/* line 13, ../scss/components/_modal.scss */
.modal .modal-content .modal-header .close {
  font-size: 30px;
  margin-top: -5px;
}
/* line 18, ../scss/components/_modal.scss */
.modal .modal-content .modal-header h4 {
  color: #000;
}
/* line 23, ../scss/components/_modal.scss */
.modal .modal-content .modal-footer {
  margin-top: 0px;
  padding: 10px 20px;
}
/* line 28, ../scss/components/_modal.scss */
.modal .modal-content .modal-content-scrollable {
  max-height: 300px;
  overflow-y: auto;
}

/* line 2, ../scss/components/_tooltip.scss */
.tooltip .tooltip-inner {
  font-family: arial;
  color: #ddd;
}
/* line 6, ../scss/components/_tooltip.scss */
.tooltip .tooltip-inner strong {
  color: #fff;
}

/* line 3, ../scss/components/_invitations.scss */
.invitations .one-invitation h3 {
  margin-top: 0px;
}

/* line 1, ../scss/pages/_home.scss */
#homepage {
  text-shadow: 0px 1px 10px #333;
}
/* line 3, ../scss/pages/_home.scss */
#homepage .title {
  color: #F5E156;
  font-style: normal;
  font-family: "logo";
  margin-top: 30px;
  font-size: 100px;
  font-size: 6.25rem;
}
@media (max-width: 400px) {
  /* line 3, ../scss/pages/_home.scss */
  #homepage .title {
    text-align: center;
  }
}
@media (min-width: 992px) {
  /* line 3, ../scss/pages/_home.scss */
  #homepage .title {
    margin-top: 80px;
  }
}
/* line 19, ../scss/pages/_home.scss */
#homepage .about {
  padding: 20px 0px;
  line-height: 35px;
  font-family: "logo";
  font-size: 35px;
  font-size: 2.1875rem;
}
/* line 26, ../scss/pages/_home.scss */
#homepage .steps {
  padding: 1px 20px 20px;
  background: rgba(200, 200, 200, 0.65);
  margin: 0px 0px 20px;
  border-radius: 5px;
  text-shadow: none;
}
/* line 34, ../scss/pages/_home.scss */
#homepage .steps h3 {
  color: #F5E156;
  text-shadow: 0px 0px 5px #333;
  font-size: 55px;
  font-size: 3.4375rem;
}
/* line 39, ../scss/pages/_home.scss */
#homepage .steps h3 .brand {
  font-family: "logo";
}
/* line 44, ../scss/pages/_home.scss */
#homepage .steps li {
  margin-left: 30px;
  padding: 5px 0px;
  color: #000;
  font-size: 35px;
  font-size: 2.1875rem;
}

/* line 1, ../scss/pages/_profile.scss */
p.no-lists {
  font-size: 20px;
}

/* line 4, ../scss/pages/_profile.scss */
.list-groups {
  margin: 20px 0px 5px;
  position: relative;
  border-bottom: 1px solid #999;
}
/* line 9, ../scss/pages/_profile.scss */
.list-groups .owl-item {
  text-align: center;
}
/* line 13, ../scss/pages/_profile.scss */
.list-groups .owl-prev, .list-groups .owl-next {
  position: absolute;
  top: 0px;
  height: 100%;
  width: 7%;
  cursor: pointer;
  margin: 0px !important;
  border-radius: 0px !important;
  background: rgba(0, 0, 0, 0.5) !important;
}
/* line 23, ../scss/pages/_profile.scss */
.list-groups .owl-prev.disabled, .list-groups .owl-next.disabled {
  display: none !important;
}
/* line 27, ../scss/pages/_profile.scss */
.list-groups .owl-prev i, .list-groups .owl-next i {
  top: 45%;
  font-size: 20px;
  width: 100%;
  text-align: center;
}
/* line 35, ../scss/pages/_profile.scss */
.list-groups .owl-prev {
  border-left: 2px solid #121212;
  left: 0px;
}
/* line 40, ../scss/pages/_profile.scss */
.list-groups .owl-next {
  border-right: 2px solid #121212;
  right: 0px;
}
/* line 44, ../scss/pages/_profile.scss */
.list-groups .owl-stage-outer {
  overflow: hidden;
  padding-top: 15px;
}
/* line 48, ../scss/pages/_profile.scss */
.list-groups .owl-item, .list-groups .one-list {
  display: inline-block;
  width: 114px;
  text-align: center;
  vertical-align: top;
}
/* line 54, ../scss/pages/_profile.scss */
.list-groups .owl-item .img-container, .list-groups .one-list .img-container {
  position: relative;
  width: 110px;
  height: 110px;
  border-radius: 5px;
  border: 5px solid #333;
  overflow: hidden;
}
/* line 62, ../scss/pages/_profile.scss */
.list-groups .owl-item .img-container .subscribers-count, .list-groups .one-list .img-container .subscribers-count {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 0px 4px 3px 7px;
  border-radius: 0px 0px 0px 5px;
  color: #fff;
  font-family: arial;
  background: #333;
  font-size: 12px;
}
/* line 74, ../scss/pages/_profile.scss */
.list-groups .owl-item .img-container img, .list-groups .one-list .img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* line 81, ../scss/pages/_profile.scss */
.list-groups .owl-item p, .list-groups .one-list p {
  margin-top: 10px;
  color: #fff;
}
/* line 86, ../scss/pages/_profile.scss */
.list-groups .owl-item:hover, .list-groups .one-list:hover {
  text-decoration: none;
}
/* line 91, ../scss/pages/_profile.scss */
.list-groups .owl-item.subscribed .img-container, .list-groups .one-list.subscribed .img-container {
  border: 5px solid #5cb85c;
}
/* line 94, ../scss/pages/_profile.scss */
.list-groups .owl-item.subscribed .img-container .subscribers-count, .list-groups .one-list.subscribed .img-container .subscribers-count {
  background: #5cb85c;
}
/* line 101, ../scss/pages/_profile.scss */
.list-groups .owl-item.owned .img-container, .list-groups .one-list.owned .img-container {
  border: 5px solid #f0ad4e;
}
/* line 104, ../scss/pages/_profile.scss */
.list-groups .owl-item.owned .img-container .subscribers-count, .list-groups .one-list.owned .img-container .subscribers-count {
  background: #f0ad4e;
}
/* line 112, ../scss/pages/_profile.scss */
.list-groups.lists-order .one-list {
  margin: 0px 10px;
}

/* line 117, ../scss/pages/_profile.scss */
.profile-view, .profile-edit, .profile-change-password {
  background: rgba(200, 200, 200, 0.5);
  margin: 0px -15px 10px;
  padding: 20px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
/* line 124, ../scss/pages/_profile.scss */
.profile-view label, .profile-edit label, .profile-change-password label {
  text-shadow: 0px 0px 3px #000;
}
/* line 128, ../scss/pages/_profile.scss */
.profile-view .form-control, .profile-edit .form-control, .profile-change-password .form-control {
  font-weight: bold;
  color: #000;
}
/* line 132, ../scss/pages/_profile.scss */
.profile-view .form-control.form-text, .profile-edit .form-control.form-text, .profile-change-password .form-control.form-text {
  height: auto;
  padding: 0px;
  font-weight: bold;
  font-size: 16px;
  background: transparent;
  border: none;
  box-shadow: none;
  color: #000;
}

/* line 146, ../scss/pages/_profile.scss */
.btn.form-control {
  margin-bottom: 10px;
}
/* line 150, ../scss/pages/_profile.scss */
.btn + .btn {
  margin-left: 10px;
}
/* line 153, ../scss/pages/_profile.scss */
.btn + .btn.btn-block {
  margin-left: 0px;
}

/* line 160, ../scss/pages/_profile.scss */
.clear-fix::after, .clear-fix::before {
  content: ' ';
  display: block;
  clear: both;
}

/* line 167, ../scss/pages/_profile.scss */
.block-header {
  line-height: 30px;
}
/* line 170, ../scss/pages/_profile.scss */
.block-header h4 {
  line-height: 30px;
  margin: 0px 0px 15px;
}

/* line 176, ../scss/pages/_profile.scss */
h4 {
  text-transform: uppercase;
  font-weight: bold;
  color: #F5E156;
}

/* line 1, ../scss/pages/_startOrder.scss */
.selected-list {
  margin-left: 15px;
  color: #fff;
}

/* line 7, ../scss/pages/_startOrder.scss */
.lists-order .one-list .img-container {
  overflow: initial;
}
/* line 9, ../scss/pages/_startOrder.scss */
.lists-order .one-list .img-container .input-selection {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  margin-bottom: 0px;
  cursor: pointer;
  background: rgba(80, 80, 80, 0.5);
}
/* line 19, ../scss/pages/_startOrder.scss */
.lists-order .one-list .img-container .input-selection input {
  position: absolute;
  bottom: 5px;
  left: 5px;
  margin: 0px;
  width: 20px;
  height: 20px;
  opacity: 0;
}
/* line 32, ../scss/pages/_startOrder.scss */
.lists-order .one-list:hover .img-container {
  border-color: #26C6DA;
}
/* line 35, ../scss/pages/_startOrder.scss */
.lists-order .one-list:hover .img-container .subscribers-count {
  background: #26C6DA;
}
/* line 42, ../scss/pages/_startOrder.scss */
.lists-order .one-list.selected .img-container {
  box-shadow: 0 0 20px #333;
}
/* line 44, ../scss/pages/_startOrder.scss */
.lists-order .one-list.selected .img-container .input-selection {
  background: none;
}

/* line 51, ../scss/pages/_startOrder.scss */
.select-restaurant {
  min-height: 400px;
}
/* line 54, ../scss/pages/_startOrder.scss */
.select-restaurant .one-restautant {
  padding: 20px;
  margin: 20px 0px;
  background: rgba(200, 200, 200, 0.5);
}
/* line 60, ../scss/pages/_startOrder.scss */
.select-restaurant .one-restautant .rest-logo img {
  height: 100%;
  width: 100%;
}
/* line 67, ../scss/pages/_startOrder.scss */
.select-restaurant .one-restautant .rest-details .title {
  margin: 15px 0px 10px;
  font-weight: bold;
  text-shadow: 0px 1px 3px #333;
}
/* line 72, ../scss/pages/_startOrder.scss */
.select-restaurant .one-restautant .rest-details .stats {
  background: #A92F29;
  margin-top: 10px;
  padding: 5px 10px;
}
/* line 77, ../scss/pages/_startOrder.scss */
.select-restaurant .one-restautant .rest-details .stats .one-count {
  display: inline-block;
}
/* line 80, ../scss/pages/_startOrder.scss */
.select-restaurant .one-restautant .rest-details .stats .one-count .name {
  color: #333;
  color: #F5E156;
  text-transform: uppercase;
}
/* line 86, ../scss/pages/_startOrder.scss */
.select-restaurant .one-restautant .rest-details .stats .one-count .order-month {
  font-family: arial;
}
/* line 90, ../scss/pages/_startOrder.scss */
.select-restaurant .one-restautant .rest-details .stats .one-count + .one-count {
  margin-left: 10px;
}
/* line 95, ../scss/pages/_startOrder.scss */
.select-restaurant .one-restautant .rest-details .phone-numbers {
  display: inline-block;
  margin-top: 15px;
  font-family: arial;
}
/* line 99, ../scss/pages/_startOrder.scss */
.select-restaurant .one-restautant .rest-details .phone-numbers ul {
  list-style: none;
  margin: 0px;
  padding: 5px 10px;
  background: #333;
}
/* line 105, ../scss/pages/_startOrder.scss */
.select-restaurant .one-restautant .rest-details .phone-numbers ul .phone-label {
  margin-right: 10px;
  color: #F5E156;
  float: left;
  font-family: "Titillium";
}
/* line 112, ../scss/pages/_startOrder.scss */
.select-restaurant .one-restautant .rest-details .phone-numbers ul li {
  display: inline;
  margin-right: 10px;
}
/* line 117, ../scss/pages/_startOrder.scss */
.select-restaurant .one-restautant .rest-details .phone-numbers ul li + li::before {
  content: '|';
  margin-right: 10px;
}
/* line 125, ../scss/pages/_startOrder.scss */
.select-restaurant .one-restautant .rest-details .menus {
  margin-top: 15px;
}
/* line 127, ../scss/pages/_startOrder.scss */
.select-restaurant .one-restautant .rest-details .menus ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
/* line 131, ../scss/pages/_startOrder.scss */
.select-restaurant .one-restautant .rest-details .menus ul li {
  display: inline;
  margin-right: 10px;
}
/* line 135, ../scss/pages/_startOrder.scss */
.select-restaurant .one-restautant .rest-details .menus ul li a {
  color: #fff;
  padding: 5px 10px;
}
/* line 139, ../scss/pages/_startOrder.scss */
.select-restaurant .one-restautant .rest-details .menus ul li a:hover, .select-restaurant .one-restautant .rest-details .menus ul li a:active, .select-restaurant .one-restautant .rest-details .menus ul li a:focus {
  text-decoration: none;
}
/* line 143, ../scss/pages/_startOrder.scss */
.select-restaurant .one-restautant .rest-details .menus ul li a i {
  font-size: 11px;
}
/* line 153, ../scss/pages/_startOrder.scss */
.select-restaurant .action-panel {
  margin-bottom: 100px;
}

/* line 3, ../scss/pages/_order.scss */
.right-sidebar .timeout-form-block h3 {
  margin-top: 0px;
  margin-bottom: 5px;
  color: #F5E156;
}
/* line 11, ../scss/pages/_order.scss */
.right-sidebar .restaurant-block .menus-list, .right-sidebar .restaurant-block .phones-list {
  margin-top: 20px;
}
/* line 14, ../scss/pages/_order.scss */
.right-sidebar .restaurant-block .menus-list .btn-block, .right-sidebar .restaurant-block .phones-list .btn-block {
  display: inline-block;
}
/* line 18, ../scss/pages/_order.scss */
.right-sidebar .restaurant-block .rating-container {
  margin-top: 5px;
  text-align: left;
}
/* line 23, ../scss/pages/_order.scss */
.right-sidebar .restaurant-block .restaurant-name {
  font-size: 30px;
  margin: 0px;
}
/* line 30, ../scss/pages/_order.scss */
.right-sidebar .restaurant-block .phones-list .numbers, .right-sidebar .restaurant-block .phones-list .numbers span {
  font-size: 28px;
  line-height: 24px;
}
/* line 34, ../scss/pages/_order.scss */
.right-sidebar .restaurant-block .phones-list .numbers i, .right-sidebar .restaurant-block .phones-list .numbers span i {
  font-size: 22px;
  color: #F5E156;
}

/* line 44, ../scss/pages/_order.scss */
.main-container {
  margin-bottom: 50px;
}
/* line 46, ../scss/pages/_order.scss */
.main-container .list-details {
  padding: 15px 20px;
  color: #F5E156;
}
/* line 51, ../scss/pages/_order.scss */
.main-container .list-details .create-order-button {
  margin-top: -6px;
  margin-right: -6px;
  border-radius: 0px;
}
/* line 59, ../scss/pages/_order.scss */
.main-container .list-details h4 {
  margin: 0px;
  color: #fff;
  text-transform: none;
}
/* line 64, ../scss/pages/_order.scss */
.main-container .list-details h4 i {
  color: #F5E156;
  margin-right: 10px;
}
/* line 71, ../scss/pages/_order.scss */
.main-container .white-transperant-block {
  font-weight: bold;
}
/* line 73, ../scss/pages/_order.scss */
.main-container .white-transperant-block.order-item {
  padding: 7px 15px;
}
/* line 76, ../scss/pages/_order.scss */
.main-container .white-transperant-block.order-item .meta {
  color: #333;
}
/* line 79, ../scss/pages/_order.scss */
.main-container .white-transperant-block.order-item .item {
  font-size: 20px;
}
/* line 82, ../scss/pages/_order.scss */
.main-container .white-transperant-block.order-item .item.owned-item {
  color: #F5E156;
}
/* line 87, ../scss/pages/_order.scss */
.main-container .white-transperant-block.order-item + .main-container .white-transperant-block.order-item {
  margin-top: 7px;
}

/* line 1, ../scss/pages/_login.scss */
.login-page {
  margin-top: 100px;
}
/* line 4, ../scss/pages/_login.scss */
.login-page .logo {
  font-family: "logo";
  color: #F5E156;
  font-size: 60px;
  line-height: 80px;
  margin: 20px 0px 30px;
  text-shadow: 0px 0px 10px #333333;
}
/* line 14, ../scss/pages/_login.scss */
.login-page .black-transperant-block h4 {
  margin-bottom: 20px;
}
/* line 18, ../scss/pages/_login.scss */
.login-page .black-transperant-block .col-sm-6:first-child {
  padding-right: 30px;
}
/* line 21, ../scss/pages/_login.scss */
.login-page .black-transperant-block .col-sm-6:last-child {
  padding-left: 30px;
}
/* line 23, ../scss/pages/_login.scss */
.login-page .black-transperant-block .col-sm-6:last-child::before {
  content: ' ';
  height: 100%;
  border-right: 1px solid #fafafa;
  position: absolute;
  left: 0px;
  top: 0px;
}
