<div ng-if="vm.isCreator" class="timeout-form-block black-transperant-block no-margin-left no-margin-right">
    <h3 class="text-center">Ordered {{ vm.order.updated_at | fromNow }}</h3>
    <hr>
    <h3>You must be waiting for pilot to deliver your order now</h3>
    <p>After you recieve the order you should provide the following data and submit Order delivered.</p>
    <form name="formDelivery" ng-submit="vm.submitDelivery()" novalidate>
        <div class="form-group">
            <label for="tips">Tips</label>
            <input name="tips" type="number" min="0" class="form-control" ng-model="vm.tips" placeholder="i.e. 2 LE" required />
            <div class="help-block error"
                 ng-show="formDelivery.tips.$error.required">write tips even if you leave it 0</div>
        </div>
        <div class="form-group">
            <label for="extras">Extras <small>(service and delivery)</small></label>
            <input name="extras" type="number" min="0" class="form-control" ng-model="vm.extras" placeholder="i.e. 10 LE" required />
            <div class="help-block error"
                 ng-show="formDelivery.extras.$error.required">write whole extras you paid</div>
        </div>
        <div class="form-group">
            <label for="place">Place <small>(the place people should eat in)</small></label>
            <textarea name="place" class="form-control" ng-model="vm.place" placeholder="i.e. basement, 2dn floor buffet" required></textarea>
            <div class="help-block error"
                 ng-show="formDelivery.place.$error.required">you must provide a plae of gathering</div>
        </div>

        <div class="form-group">
            <button class="btn btn-block btn-success" ng-disabled="!formDelivery.$valid">
                <i class="glyphicon glyphicon-ok pull-right"></i> <span class="pull-left">Order Delivered Successfully</span>
            </button>
        </div>
    </form>
</div>

<div ng-if="!vm.isCreator" class="timeout-form-block black-transperant-block no-margin-left no-margin-right">
    <h3>You must be waiting for order now, expect an email <i class="glyphicon glyphicon-send"></i></h3>
    <p>After the order is delivered dailymumm will send each one an email on behalf of "<em>{{vm.order.creator.username}}</em>"
        the creator of the order, with your order and your bill and the place you will be collected to eat in. </p>
</div>