<div class="history" ng-if="hvm.orderItems.length > 0">
    <h4>Orders History:</h4>
    <div class="black-transperant-block">
        <table class="table">
            <tr>
                <th></th>
                <th>Creator</th>
                <th>List</th>
                <th>From</th>
                <th>Via</th>
                <th>Time</th>
                <th>Items</th>
                <th></th>
            </tr>
            <tr ng-repeat="item in hvm.orderItems">
                <td>
                    <div class="label" ng-class="{'label-success': item.status == 'Done', 
                                                'label-info': item.status == 'Now', 
                                                'label-warning': item.status == 'Waiting', 
                                                'label-danger': item.status =='Canceled', 
                                                'label-default': item.status == 'NotCompleted'}">
                        <span ng-if="item.status == 'NotCompleted'">Not Completed</span>
                        <span ng-if="item.status == 'Now'">Now</span>
                        <span ng-if="item.status == 'Waiting'">Waiting</span>
                        <span ng-if="item.status == 'Done'">Done</span>
                        <span ng-if="item.status == 'Canceled'">Canceled</span>
                    </div>
                </td>
                <td>{{item.creator.fullname || item.creator.username}}</td>
                <td>{{item.list.name}}</td>
                <td>{{item.restaurant.name}}</td>
                <td>{{item.mean.name}}</td>
                <td>{{item.startTime | fromNow}}</td>
                <td>{{item.items.length}}</td>
                <td><a ui-sref="order({id:item._id})" title="preview" class="btn btn-xs btn-info"><i class="glyphicon glyphicon-arrow-right"></i></a></td>
            </tr>
        </table>

    </div>
</div>