<div class="timeout-form-block black-transperant-block no-margin-left no-margin-right">
    <h3>Order has been timedout</h3>
    <p>Now you should start sort the order and get a copy to order with, use the following dropdownlist to determine how will
        you make this order</p>
    <div class="form-group">
        <label for="OrderMean">Order Mean</label>
        <select class="form-control" ng-model="vm.orderSelectedMean" ng-options="mean for mean in vm.orderMeans track by mean"></select>
    </div>
    <div class="form-group" ng-if="vm.orderSelectedMean == 'Others'">
        <label for="writeYourMean">Write how you order</label>
        <textarea class="form-control" placeholder="tell us the mean you will use" ng-model="vm.orderSelectedMeanDetails"></textarea>
    </div>
    <div class="form-group">
        <button class="btn btn-block btn-warning" ng-click="vm.submitMean()">
            <i class="glyphicon glyphicon-ok pull-right"></i> <span class="pull-left">Click here after ordering</span>
        </button>
    </div>
</div>