<div class="container" id="homepage">
	<div class="row">
		<div class="col-md-8">
			<h1 class="title">{{ "GENERAL_SITE_TITLE" | translate }}</h1>
			<p class="about">{{ "HOME_PAGE_ABOUT_QUOTES" | translate }}</p>
			<ol class="steps" ng-hide="true">
				<h3>{{ "HOME_PAGE_HOW_TO_USE_LABEL" | translate }} <span class="brand">{{ "GENERAL_SITE_TITLE" | translate }}</span> ?</h3>
				<li ng-repeat="step in vm.steps">{{ step }}</li>
			</ol>
		</div>
		<div class="col-sm-12 col-md-4 col-lg-4 col-xs-12 pull-right">
			<div class="signup-box">
				<h3><a ng-click="showPanel('login')" ng-class="{'active':current == 'login'}">Login</a>
                / <a ng-click="showPanel('register')" ng-class="{'active':current == 'register'}">Register</a></h3>
                <div ng-show="hasError" class="alert alert-danger">
					{{errorMessage}}
				</div>
				<div ng-show="hasSuccess" class="alert alert-success">
					{{registerSuccessMessage}}
				</div>
                <bw-signup></bw-signup>
                <bw-login></bw-login>
			</div>
		</div>
	</div>
</div>