
   <div class="col-sm-12 col-md-4 col-lg-4 col-xs-12 pull-right">
        <div class="signup-box ">
            <h3><a ng-click="showPanel('login')" ng-class="{'active':current == 'login'}">Login</a>
                / <a ng-click="showPanel('register')" ng-class="{'active':current == 'register'}">Register</a></h3>
            <form ng-show="current == 'register'">
                <div class="form-group">
                    <label>Username:</label>
                    <input ng-model="registerdata.username" type="text" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Email:</label>
                    <input ng-model="registerdata.email" type="text" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Password:</label>
                    <input ng-model="registerdata.password" type="password" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Retype Password:</label>
                    <input ng-model="registerdata.retypepassword" type="password" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="button" class="btn btn-primary" ng-click="register()" value="Register" />
                </div>
            </form>
            
            <form ng-show="current == 'login'">
                <div class="form-group">
                    <label>Email:</label>
                    <input type="text" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Password:</label>
                    <input type="password" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="button" class="btn btn-success" ng-click="login()" value="Login" />
                </div>
            </form>
        </div>
    </div>