.navbar {
    &.navbar-transparent {
        z-index: 100;
        background: rgba(0,0,0,0.75);
        height:60px;
        
        .navbar-header {
            height: 60px;
            
            .navbar-toggle {
                border:1px solid #777;
                margin-top: 12px;
                
                .icon-bar {
                    background:#777;
                }
            }
            
            .navbar-brand {
                font-family: $fontLogo;
                color: $colorSecond;
                font-size: 30px;
            }
        }
        
        .order-count-down {
            font-size: 30px;
            font-family: $fontNumber;
            margin: 9px 15px;
            color: $colorSecond;
        }
        
        .navbar-collapse {
            @media (max-width:768px){
                background: #333;
            }
            .navbar-btn {
                margin-top: 12px;
                margin-bottom: 12px;
                margin-right: 20px;

                @media (max-width:768px){
                    display: block;
                    width: 100%;
                    padding-right: 0;
                    padding-left: 0;
                }
            }
            .navbar-nav {
                li {
                    a {
                        background-color: transparent;
                        padding: 19px 15px;
                        color:#fff;
                        
                        &:hover, &:focus {
                            background-color: #0a0a0a;
                            color: #eee;
                        }
                    }
                    
                    &.dropdown {
                        // width: 160px;
                        // text-align: right;
                        font-size: 16px;
                        
                        ul {
                            &.dropdown-menu {
                                background-color: #0a0a0a;
                                border:none;
                                li {
                                    a {
                                        text-align: left;
                                        padding: 5px 15px;
                                        background-color: #0a0a0a;
                                        
                                        &:hover {
                                            background-color: #000;
                                        }
                                    }
                                    
                                    &.divider {
                                        margin: 3px 0px;
                                        background-color: #333;
                                    }
                                }
                            }
                        }

                        &.user-dropdown {
                            min-width: 160px;

                            .caret {
                                &.pull-right {
                                    margin-top: 7px;

                                    // @media (max-width:768px){
                                    //     margin-right: 15px;
                                    // }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}