@import 'helpers/vars';
@import 'helpers/mixins';
@import 'base/colors';
@import 'base/base';
@import 'general';

body {
    background: #fff;
    table {
        width:100%;
        color: $black;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 13px;

        &.body {
            /*width: 600px;*/
            margin: 0 auto;
        }

        &.items-list {
            tr {
                background: #eee;

                &:first-child {
                    background: #aaa;
                }

                &.extras, &.tips {
                    background: #ddedf7;
                }

                &.summary {
                    background: #f9f1be;
                    font-weight: bold;
                    white-space: nowrap;
                }

                th, td {
                    padding: 3px 20px;
                    text-align: left;

                    &:first-child {
                        width:8%;
                    }

                    &:nth-child(2) {
                        width: 80%;
                    }

                    &:last-child {
                        width: 12%;
                        min-width: 100px; 
                    }
                }
            }
        }

        h4 {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            margin-bottom: 5px;
            font-size: 12px;
        }

        tr {
            &.header {
                // font-size: 26px;
                text-align: left;

                h1 {
                    margin: 20px 0px;
                }

                td {
                    padding: 0px 20px;
                }
            }

            &.footer {
                color: $off-white;
                text-align: left;
            }

            td {
                padding: 10px 20px;

                &.main-content {
                    text-align: left;
                    line-height: 30px;

                    p , a {
                        display: block;
                        margin: 15px 0px;
                        font-family: Verdana, Geneva, Tahoma, sans-serif;

                        &.inline {
                            display: inline-block;
                            margin: 0px;
                        }
                    }
                }
            }
        }
    }
}