<div class="invitations">
    <div class="block-header clear-fix">
        <h4>Invitations: <span class="badge">{{ivm.invitations.length}}</span></h4>
    </div>
    <div class="black-transperant-block text-center one-invitation" ng-repeat="invitation in ivm.invitations">
        <h3>You are invited to join "<strong>{{invitation.name}}</strong>" list</h3>
        <p>if you would like to join click join otherwise click ignore</p>

        <button class="btn btn-sm btn-success"><i class="glyphicon glyphicon-ok"></i> Join</button>
        <button class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i> Ignore</button>
    </div>
</div>