<div class="lists">
	<div class="block-header clear-fix">
		<div class="pull-right">
			<a ng-show="lvm.listOfGroups.length > 0" ui-sref="profile.lists" class="btn btn-sm btn-info">
				<i class="glyphicon glyphicon-plus"></i> Create New
			</a>
			<!--<a ng-show="lvm.listOfGroups.length > 0" ui-sref="profile.lists" class="btn btn-sm btn-transperant">
				<i class="glyphicon glyphicon-cog"></i> Manage
			</a>-->
		</div>
		<h4>Lists: <span class="badge">{{lvm.listOfGroups.length}}</span></h4>
	</div>
	<p class="no-lists" ng-show="lvm.listOfGroups.length == 0">
		You have not Subscribed to any list yet, you can <a href="#">Create</a> one now.
	</p>
	<div class="lists-profile list-groups">
		<a href="#/profile/list/{{item.id}}" ng-repeat="item in lvm.listOfGroups" class="one-list" ng-class="{'owned' : item.owned, 'subscribed': !item.owned}">
			<div class="img-container">
				<span class="subscribers-count">{{item.subscribers.length}}</span>
				<img class="lazyOwl" data-src="{{item.picture}}" alt="{{item.name}}">
			</div>
			<p>{{item.name}}</p>
		</a>
	</div>
	<div class="legend">
		<u>Note that</u>: 
		<small class="label-warning"><i class="glyphicon"></i></small> owned by you,
		<small class="label-success"><i class="glyphicon"></i></small> you just subscribered to them.</p>
	</div>
</div>