.right-sidebar{

    .timeout-form-block {
        h3 {
            margin-top: 0px;
            margin-bottom: 5px;
            color: $colorSecond;
        }

        .form-group:last-child {
            margin: 0px;
        }
    }

    .restaurant-block{
        .menus-list , .phones-list {
            margin-top: 20px;

            .btn-block {
                display: inline-block;
            }
        }
        .rating-container {
            margin-top: 5px;
            text-align: left;
        }

        .restaurant-name{
            font-size: 30px;
            margin: 0px;
        }

        .phones-list {
            .numbers {
                & , span {
                    font-size: 28px;
                    line-height: 24px;

                    i {
                        font-size: 22px;
                        color: $colorSecond;
                    }
                }
            }
        }
    }
}

.main-container {
    margin-bottom: 50px;

    .sorting-container {
        margin-top: -6px;
        margin-right: -15px;
    }
    
    .list-details {
        // margin-bottom: 0px;
        padding: 15px 20px;
        color: $colorSecond;

        .create-order-button {
            // margin: -16px -20px;
            margin-top: -6px;
            margin-right: -6px;
            border-radius: 0px;
            // padding: 14px 15px;
        }

        h4 {
            margin: 0px;
            color: #fff;
            text-transform: none;

            i {
                color: $colorSecond;
                margin-right: 10px;
            }
        }

    }
    .white-transperant-block{
        font-weight: bold;
        &.order-item {
            padding: 7px 15px;

            .meta {
                color: #333;
            }
            .item {
                font-size: 20px;

                &.owned-item {
                    color: $colorSecond;
                }
            }

            & + & {
                margin-top: 7px;
            }
        }
    }
}