.right-sidebar{
    .restaurant-block{
        .menus-list , .phones-list {
            margin-top: 20px;
        }
        .restaurant-name{
            font-size: 34px;
        }
        .phones-list {
            .numbers {
                & , span {
                    font-size: 28px;
                    line-height: 24px;

                    i {
                        font-size: 22px;
                        color: $colorSecond;
                    }
                }
            }
        }
    }
}