.right-sidebar{
    

    .restaurant-block{
        .menus-list , .phones-list {
            margin-top: 20px;
        }
        .rating-container {
            margin-top: 5px;
            text-align: left;
        }

        .restaurant-name{
            font-size: 30px;
            margin: 0px;
        }

        .phones-list {
            .numbers {
                & , span {
                    font-size: 28px;
                    line-height: 24px;

                    i {
                        font-size: 22px;
                        color: $colorSecond;
                    }
                }
            }
        }
    }
}

.main-container {
    .list-details {
        // margin-bottom: 0px;
        padding: 15px 20px;
        color: $colorSecond;

        .create-order-button {
            // margin: -16px -20px;
            margin-top: -6px;
            margin-right: -6px;
            border-radius: 0px;
            // padding: 14px 15px;
        }

        h4 {
            margin: 0px;
            color: #fff;
            text-transform: none;

            i {
                color: $colorSecond;
                margin-right: 10px;
            }
        }

    }
    .white-transperant-block{
        
    }
}