@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

%clearfix {
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
} // usage:  @extend %clearfix;