@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

@mixin font-face($styleName, $file) {
    @font-face {
	   font-family: $styleName;
	      src: url($file+'.eot');
	      src: url($file+'.eot?#iefix') format('embedded-opentype'),
	           url($file+'.woff') format('woff'),
	           url($file+'.ttf') format('truetype'),
	           url($file+'.svg#UbuntuItalic') format('svg');
	   font-weight: normal;
	   font-style: normal;
	}
}