.signup-box {
    //border:1px solid rgb(96, 96, 98);
    //background: rgba(36, 36, 41, 0.65);
    background: $colorBlackLight;
    padding:20px 25px 10px;
    border-radius:5px;
    color:#fff;
    margin-bottom:50px;
    text-shadow:none;
    //box-shadow:2px 2px 5px rgb(36, 36, 41);

    @media (min-width: 992px) {
        //margin-top: 100px;
        height:100vh;
        border-radius:0px;
        padding-top:100px;
        margin-bottom:0px;
    }
    
    h3 {
        font-size:22px;
        margin:10px 0px 30px;
        text-shadow:none;
    }
    
    a {
        color:#F3E95D;
        cursor: pointer;
        
        &.active {
            cursor: default;
            &,&:hover, &:active{
                color:#fff;
            }
        }
        
        &:hover, &:active{
            color:#ECE4AA;
            text-decoration: none;
        }
    }
}