<div class="row clear-fix block-header">
	<div class="pull-right">
		<a ui-sref="profile.edit" ng-click="vm.showEditProfile()" 
            ng-show="!vm.changePassword" class="btn btn-sm btn-success">
			<i class="glyphicon glyphicon-cog"></i> Edit</a>
	</div>
	<h4>
		<span ng-show="!vm.changePassword">User Details:</span>
		<span ng-show="vm.changePassword">Change Password:</span>
	</h4>

</div>
<div class="row profile-view" ng-show="!vm.changePassword">
	<div class="form-group">
		<label for="username">Username</label>
		<div class="form-control form-text">{{ vm.userData.username }}</div>
	</div>
	<div class="form-group">
		<label for="username">Full name</label>
		<div class="form-control form-text">{{ vm.userData.fullname || "--------- ---------" }}</div>
	</div>
	<div class="form-group">
		<label for="username">Email</label>
		<div class="form-control form-text">{{ vm.userData.email }}</div>
	</div>
</div>
<div class="row profile-change-password" ng-show="vm.changePassword">
	<form action="">
		<div class="form-group">
			<label for="username">Old Password</label>
			<input type="password" placeholder="Old Password" class="form-control" />
		</div>
		<div class="form-group">
			<label for="username">New Password</label>
			<input type="password" placeholder="New Password" class="form-control" />
		</div>
		<div class="form-group">
			<label for="username">Confirm New Password</label>
			<input type="password" placeholder="Confirm Password" class="form-control" />
		</div>
		<div class="text-right">
			<button class="btn btn-sm btn-success" ng-click="vm.saveChangePassword()"><i class="glyphicon glyphicon-ok"></i> Save</button>
			<a href="javascript::void(0)" ng-click="vm.cancelChangePassword()" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i> Cancel</a>
		</div>
	</form>
</div>
<div class="row" ng-show="!vm.changePassword">
	<button class="btn btn-primary form-control" ng-click="vm.showChangePasswordPanel()">
            <i class="glyphicon glyphicon-edit"></i> Change Password</button>
</div>
<!--<div class="row" ng-show="!vm.changePassword">
    <button class="btn btn-danger form-control">
            <i class="glyphicon glyphicon-ban-circle"></i> Mute My Account</button>
</div>-->