<div class="row clear-fix block-header">
	<div class="pull-right">
		<a ui-sref="profile.edit" ng-click="vm.showEditProfile()" 
            ng-show="!vm.changePassword" class="btn btn-sm btn-success">
			<i class="glyphicon glyphicon-cog"></i> Edit</a>
	</div>
	<h4>
		<span ng-show="!vm.changePassword">User Details:</span>
		<span ng-show="vm.changePassword">Change Password:</span>
	</h4>

</div>
<div class="row profile-view" ng-show="!vm.changePassword">
	<div class="form-group">
		<label for="username">Username</label>
		<div class="form-control form-text">{{ vm.userData.username }}</div>
	</div>
	<div class="form-group">
		<label for="fullname">Full name</label>
		<div class="form-control form-text">{{ vm.userData.fullname || "--------- ---------" }}</div>
	</div>
	<div class="form-group">
		<label for="email">Email</label>
		<div class="form-control form-text">{{ vm.userData.email }}</div>
	</div>
	<div class="form-group">
		<label for="joindate">Joined since:</label>
		<div class="form-control form-text">{{ vm.userData.signup_date | date }}</div>
	</div>
</div>
<div class="row profile-change-password" ng-show="vm.changePassword">
	<form name="formUpdatePassword" ng-submit="vm.saveChangePassword(formUpdatePassword)" novalidate>
		<div class="form-group" ng-class="formUpdatePassword.oldPassword.$invalid && (!formUpdatePassword.oldPassword.$pristine || formUpdatePassword.$submitted) ? 'has-error' : 'has-success'">
			<label for="oldPassword">Current Password</label>
			<input type="password" bw-validate-current-password="password" ng-minlength="8" ng-maxlength="20" name="oldPassword" ng-model="vm.passwords.old" placeholder="Old Password" class="form-control" required />
			<p ng-show="formUpdatePassword.oldPassword.$error.required && (!formUpdatePassword.oldPassword.$pristine || formUpdatePassword.$submitted)" 
				class="help-block">Enter old password</p>
			<span ng-show="!formUpdatePassword.oldPassword.$error.required && (formUpdatePassword.oldPassword.$error.minlength || formUpdatePassword.oldPassword.$error.maxlength) && formUpdatePassword.oldPassword.$dirty"
                class="help-block">Password must be between 8 and 20 characters.</span>
			<p ng-show="!formUpdatePassword.oldPassword.$error.required && !formUpdatePassword.oldPassword.$error.minlength && !formUpdatePassword.oldPassword.$error.maxlength && formUpdatePassword.oldPassword.$error.isValid && !formUpdatePassword.oldPassword.$pristine"
                class="help-block">Invalid current password</p>
		</div>
		<div class="form-group" ng-class="formUpdatePassword.newPassword.$invalid && (!formUpdatePassword.newPassword.$pristine || formUpdatePassword.$submitted) ? 'has-error' : 'has-success'">
			<label for="newPassword">New Password</label>
			<input type="password" ng-minlength="8" ng-maxlength="20" name="newPassword" ng-model="vm.passwords.new1" placeholder="New Password" class="form-control" required />
			<p ng-show="formUpdatePassword.newPassword.$error.required && (!formUpdatePassword.newPassword.$pristine || formUpdatePassword.$submitted)" 
				class="help-block">Enter new password</p>
			<span ng-show="!formUpdatePassword.newPassword.$error.required && (formUpdatePassword.newPassword.$error.minlength || formUpdatePassword.newPassword.$error.maxlength) && formUpdatePassword.newPassword.$dirty"
                class="help-block">Password must be between 8 and 20 characters.</span>
		</div>
		<div class="form-group" ng-class="formUpdatePassword.confirmPassword.$invalid && (!formUpdatePassword.confirmPassword.$pristine || formUpdatePassword.$submitted) ? 'has-error' : 'has-success'">
			<label for="confirmPassword">Confirm New Password</label>
			<input type="password" bw-validate-password-match match-with="{{vm.passwords.new1}}" ng-minlength="8" ng-maxlength="20" name="confirmPassword" ng-model="vm.passwords.new2" placeholder="Confirm Password" class="form-control" required />
			<p ng-show="formUpdatePassword.confirmPassword.$error.require && !formUpdatePassword.confirmPassword.$pristine  && formUpdatePassword.confirmPassword.$dirty"
                class="help-block">Please confirm your password.</p>
			<p ng-show="!formUpdatePassword.confirmPassword.$error.require && formUpdatePassword.confirmPassword.$error.noMatch && !formUpdatePassword.confirmPassword.$pristine && formUpdatePassword.confirmPassword.$dirty"
                class="help-block">The two passwords are not match.</p>
		</div>
		<div class="text-right">
			<button class="btn btn-sm btn-success"><i class="glyphicon glyphicon-ok"></i> Save</button>
			<a href="javascript:void(0)" ng-click="vm.discardChangePassword(formUpdatePassword)" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i> Cancel</a>
		</div>
	</form>
</div>
<div class="row" ng-show="!vm.changePassword">
	<button class="btn btn-primary form-control" ng-click="vm.showChangePasswordPanel()">
            <i class="glyphicon glyphicon-edit"></i> Change Password</button>
</div>
<!--<div class="row" ng-show="!vm.changePassword">
    <button class="btn btn-danger form-control">
            <i class="glyphicon glyphicon-ban-circle"></i> Mute My Account</button>
</div>-->